body
{
	background-color:#e6e6e6;
}
#name
{
	font-variant:small-caps;
	color:red;
	text-shadow:1.5px 2px #000;
	background-color:#a1a1a1;
}
#name:hover
{
	background-color:#bcc3c4;
}
#name2
{
	font-variant:sans-serif;
	text-align:center;
	text-shadow:1.5px 2px #fff;
}
a
{
	text-decoration:none;
}